@tailwind base;
@tailwind components;
@tailwind utilities;


  
/* Form Input */
.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit button */
.submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Thank you message */
.thank-you-message {
  font-size: 18px;
  color: #4caf50;
  margin-top: 20px;
}